@font-face {
    font-family: 'alpha tapes';
    src: url('../assets/fonts/Alphabetized\ Cassette\ Tapes.ttf');
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mulish-italic {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}


.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.alpha-tapes {
    font-family: 'alpha tapes';
    font-optical-sizing: auto;
    font-style: normal;
}